---
import yaml from 'yaml';
import fs from 'node:fs';

// Define props
const { group } = Astro.props;
const contents = fs.readFileSync(`src/assets/macros/actions/${group}.yaml`, 'utf8');
// Parse the YAML content
const data = yaml.parse(contents) as any;
---

{data.actions.map(action=>{
  return Object.entries(action).map(([name, props])=>{
    return (
        <div>
          <h2>%{name}</h2>
          <div>{props.description}</div>
          {props.example && (
            <div>
              <h3>Example</h3>
              <pre>{props.example}</pre>
            </div>
          )}
      </div>
    )
  })
})}
